@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
	--black: hsla(0, 0%, 0%, 1);
	--oxford-blue: hsla(221, 51%, 16%, 1);
	--orange-web: hsla(37, 98%, 53%, 1);
	--orange-web-transparent: hsla(37, 98%, 53%, 0.95);
	--platinum: hsla(0, 0%, 90%, 1);
	--white: hsla(0, 0%, 100%, 1);

	--modal-duration: 1s;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	margin: 0;
	font-family: "PT Sans", "Gill Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Kanit", "Gill Sans", sans-serif;
	font-weight: 400;
	line-height: 1;
}

input {
	padding: 0.5rem;
	margin: 0.2rem;
	border: 0;
}

input:hover {
	cursor: pointer;
	filter: brightness(130%);
}

.page-content {
	width: 100%;
}

.top-nav {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 17rem;
	max-width: 30rem;
	border-right: 1px solid var(--platinum);
	background: var(--oxford-blue);
	z-index: 100;
}

.logo {
	margin: 1rem;
}

.logo img {
	border-radius: 50%;
}

.nav-links {
	width: 100%;
	padding: 0;
	list-style: none;
}

.nav-links li {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	padding: 0.8rem;
	border-bottom: 1px solid var(--orange-web);
	background: var(--oxford-blue);

	color: var(--white);
	transition: background 0.2s ease-in-out;
}

.nav-links li:first-of-type {
	border-top: 1px solid var(--orange-web);
}

.nav-links li:hover {
	cursor: pointer;
	background: var(--orange-web);
	text-decoration: underline;
}

header {
	position: relative;
	padding: 1rem;
	background: var(--oxford-blue);
	text-align: center;
	font-size: 130%;
	color: white;
	text-align: center;
}

header button {
	width: 50%;
}

header h1 {
	padding: 0 1rem;
	max-width: 80%;
	margin: 0 auto;
}

header p {
	margin: 1rem 0;
}
/* Main container style */

.container {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	max-width: 100%;
}

/* Button styles */
button,
input[type="submit"] {
	padding: 1rem;
	border: none;
	border-radius: 0.7rem;
	background: var(--platinum);
	color: var(--black);
	transition: filter 0.2s ease-in-out;
}

button:hover,
button:focus {
	cursor: pointer;
	filter: brightness(175%);
	outline: 0;
}

.toggle {
	display: none;
	position: fixed;
	left: 1rem;
	top: 1rem;
	width: min-content;
	text-align: left;
	background: hsla(0, 0%, 0%, 0.5);
	border-radius: 20%;
	transition: transform 0.4s ease-in-out;
	color: var(--white);
}

.toggle:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.cta-button {
	font-size: 1.2rem;
}

/* Modal styles */

.modal-container {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: hsla(0, 0%, 0%, 0.8);
	animation: fade 0.5s forwards;
}

.modal {
	display: flex;
	flex-direction: column;
	min-width: 20rem;
	max-width: 25rem;
	background: var(--orange-web-transparent);
	border-radius: 1rem;
	box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
	color: var(--black);
	overflow: hidden;
}

.show-modal {
	display: flex;
	animation: fadeIn 0.5s forwards;
}

.hide-modal {
	animation: fadeOut 0.5s forwards;
}

.modal-header {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem;
	background: var(--oxford-blue);
	color: var(--white);
}

.modal-header h3 {
	text-align: center;
	font-size: 1.8rem;
	width: 100%;
	margin: 0;
}

.close-button {
	position: absolute;
	flex: 1 0 2rem;
	max-width: 3rem;
	padding: 0.5rem 0.8rem;
	font-size: 1.5rem;
}

.close-button > * {
	pointer-events: none;
}

.modal-content {
	padding: 1rem;
	text-align: center;
}
.form-inputs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form-inputs input {
	flex: 1 1 auto;
	width: 100%;
	background: var(--platinum);
}

.radio-inputs {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 0.5rem;
	font-size: 1.1rem;
}

.radio-inputs label {
	text-align: right;
}

.radio-inputs input {
	width: auto;
}

.form-inputs input[type="submit"] {
	text-align: center;
	margin: auto;
}

/* Animations */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Set nav to disappear at small screen size */
@media (max-width: 700px) {
	.top-nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		transform: translateX(-100%);
		transition: transform 0.3s ease-in-out;
	}
	.toggle {
		display: block;
		z-index: 100;
	}
	.slide-nav {
		transform: translateX(0%);
	}
}

